* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.blue {
    color: #003566;
}

#home {
    height: 120vh;
    width: 99.99%;
    opacity: 1;
    background: linear-gradient(278deg, blue -30%, cyan 90%);


    nav {
        padding: 50px 140px 10px 140px;

        .navbar-nav {
            margin-left: 30%;

            .nav-link {


                background-position: 0 100%;
                background-repeat: repeat-x;
                background-size: 3px 3px;

                text-decoration: none;


                &:hover {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
                    background-position: 0 100%;
                    background-size: auto 6px;
                    background-repeat: repeat-x;
                    text-decoration: none;
                }
            }
        }

        .nav-link {
            margin-right: 50px;
            color: #fff;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;

        }

        .contact-link {
            margin-left: 100%;
        }
    }

    .logo {
        width: 130px;

    }

    .unicorn-container {
        overflow: hidden !important;

        .banner-title {
            height: 100vh;
            position: relative;
            top: -50px;

            h1 {
                width: 60%;
                text-align: center;
                font-size: 70px;
                color: #fff;
                font-style: italic;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                line-height: 1;
            }

            button {
                height: 50px;
                width: 9.74%;
                border-radius: 8px;
                background-color: rgba(0, 53, 102, 1);
                color: #fff;
                border: none;
                margin-top: 20px;
                transition: all 1.5ms;

                &:hover {
                    background-color: #FDB913;
                    color: #000;
                }
            }
        }

        .unicorn {

            position: absolute;
            top: 60px;
            left: 50%;
            transform: translate(-350px, 10px);
            height: 90%;
            object-fit: contain;

        }
    }

}

.opacityZero {
    opacity: 0;
    object-fit: cover;
}

.opacityOne {
    opacity: 1;
}

#section-2 {
    position: absolute;
    height: 150vh;
    width: 100%;
    background-color: rgba($color: #00DBF6, $alpha: 1);

    .element-container {
        position: relative !important;
        overflow: hidden;

        .sec-2-element-4 {
            position: absolute;
            width: 600px;
            top: -300px;
            right: -200px;
            z-index: -0;

        }
    }

    .section-2-row {
        margin-top: 310px;


        .container {
            position: relative !important;

        }

        overflow: hidden;

        h1 {
            font-family: 'Montserrat';
            font-size: 60px;
            font-weight: 700;
            line-height: 1.2;
            color: #fff;

        }

        .sec-2-left-col {
            position: relative;
        }

        .sec-2-element-1 {
            width: 250px;
            position: relative;
            left: 120px;
            z-index: 555;
        }

        .sec-2-element-2 {
            position: absolute;
            width: 600px;
            top: -100px;
            left: -200px;
            z-index: -1;
        }

    }

    .element-3-small {
        width: 200px;
        position: absolute;
        left: 0px;
        bottom: 150px;
    }

    .effictive-landing-page {
        color: rgba(0, 53, 102, 1);
        font-family: 'Montserrat';
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 29px;
    }

    .combining {
        color: rgba(0, 53, 102, 1);
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 24px;
    }
}

.view-project-button {
    box-sizing: border-box;
    height: 40px;
    width: 196px;
    border: 2px solid #003566;
    color: rgba(0, 53, 102, 1);
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 18px;
    text-align: justify;
    background-color: #fff;
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .bi-arrow-right {
        font-size: 28px;
        border-left: #003566 solid 1px;
        margin-left: 20px;
        padding-left: 5px;
        height: 40px;
        line-height: 1.5;
    }

    &:hover {
        padding-left: 15px;
        transition: all 0.5s ease;
    }

    &:hover .bi-arrow-right {
        position: absolute;
        border-right: #003566 solid 1px;
        background-color: #003566;
        color: #fff;
        left: -22px;
        transition: all 0.5s ease;

    }
}

#projects {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;


    .slider-container {
        position: relative;
        width: 700% !important;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;


        .card {
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: row;
            border: none;
            align-items: center;
            justify-content: center;
            transition: all 100ms;



            .card-image {
                width: 27em;


            }

            .card-text-col {
                width: 30%;
                padding-left: 50px;
                position: relative;

                h1 {
                    color: rgba(0, 53, 102, 1);
                    font-family: 'Montserrat';
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 68px;
                }

                p {
                    color: rgba(0, 53, 102, 1);
                    font-family: 'Montserrat';
                    font-size: 15px;
                    line-height: 18px;
                    text-align: justify;
                }

                .view-project-button {
                    box-sizing: border-box;
                    height: 40px;
                    width: 196px;
                    border: 2px solid #003566;
                    color: rgba(0, 53, 102, 1);
                    font-family: 'Montserrat';
                    font-size: 16px;
                    line-height: 18px;
                    text-align: justify;
                    background-color: #fff;
                    position: absolute;
                    right: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .bi-arrow-right {
                        font-size: 28px;
                        border-left: #003566 solid 1px;
                        margin-left: 20px;
                        padding-left: 5px;
                        height: 40px;
                        line-height: 1.5;
                    }

                    &:hover {
                        padding-left: 15px;
                        transition: all 0.5s ease;
                    }

                    &:hover .bi-arrow-right {
                        position: absolute;
                        border-right: #003566 solid 1px;
                        background-color: #003566;
                        color: #fff;
                        left: -22px;
                        transition: all 0.5s ease;

                    }
                }
            }

            .card-number {
                position: absolute;
                top: 200px;
                left: 5em;
                z-index: 5999;
                color: rgba(0, 53, 102, 1);
                font-family: Montserrat;
                font-size: 70px;
                font-weight: 700;
                line-height: 110px;
            }
        }

        .card.active {
            background-color: #000 !important;
        }


    }

    .scroll-bar-container {
        position: fixed;
        left: 45%;
        top: 80%;
        z-index: 999999999 !important;
        height: 20px;
        width: 500px;
        display: none;
        flex-direction: row;

        .scroll-dot {
            height: 2px;
            width: 20px;
            background-color: #dbdbdb;
            margin-right: 5px;


        }

        .first {
            background-color: #003566;
        }
    }
}

#section-4 {

    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background-color: #171717;
    color: #fff;
    display: flex;
    flex-direction: column;

    .why-important {
        font-family: 'Montserrat';

        h3 {
            font-size: 35px;
            font-weight: 700;
        }

        h1 {
            font-size: 42px;
            font-weight: 700;
        }
    }

    .bulding-blocks {
        margin-top: 10px;
        background-image: url(../Assests/sec-4-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 500px;
        height: 600px;

        // display: none;
        p {
            font-size: 17px;
            font-family: "Montserrat";
            color: #fff;
            line-height: 0.5;
        }

        h6 {
            font-size: 20px;
            font-family: "Montserrat";
            color: #fff;
            line-height: .5;
        }
    }

    .sec-4-scroll-bar-container {
        height: 20px;
        width: 500px;
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .sec-4-scroll-dot {
            height: 2px;
            width: 20px;
            background-color: #1E1E1E;
            margin-right: 5px;
            margin-bottom: 50px;

        }

    }

}

.section-5 {
    width: 100%;
    height: 180vh;
    background-color: #FDB913;
    padding-top: 200px;
    overflow: hidden;

    .sec-5-colums {
        margin-top: 200px;
    }

    .sec-5-button {
        box-sizing: border-box;
        height: 40px;
        width: 196px;
        border: 2px solid #000;
        color: rgb(0, 0, 0);
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 18px;
        text-align: justify;
        background-color: transparent;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .bi-arrow-right {
            font-size: 28px;
            border-left: #003566 solid 1px;
            margin-left: 20px;
            padding-left: 5px;
            height: 40px;
            line-height: 1.5;
        }

        &:hover {
            padding-left: 15px;
            transition: all 0.5s ease;
        }

        &:hover .bi-arrow-right {
            position: absolute;
            border-right: #000000 solid 1px;
            background-color: #000000;
            color: #fff;
            left: -22px;
            transition: all 0.5s ease;

        }
    }

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: #FDB913;
            font-family: Montserrat;
            font-size: 90px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            width: 75%;

        }

        p {
            color: #000;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            margin-top: 50px;
        }
    }
}

#section-6 {
    background-color: #FDB913;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .sec-6-text {
        position: relative;
        z-index: 1;
        width: 65%;

        h6 {
            color: #FFF;
            font-family: 'Montserrat';
            font-size: 38px;
            font-weight: 700;
            line-height: 1.2;
            text-align: center;
        }


    }

    .sec-6-button {
        box-sizing: border-box;
        height: 40px;
        width: 196px;
        border: 2px solid #000;
        color: rgb(0, 0, 0);
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 18px;
        text-align: justify;
        background-color: transparent;
        position: relative;
        z-index: 1;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .bi-arrow-right {
            font-size: 28px;
            border-left: #003566 solid 1px;
            margin-left: 20px;
            padding-left: 5px;
            height: 40px;
            line-height: 1.5;
        }

        &:hover {
            padding-left: 15px;
            transition: all 0.5s ease;
        }

        &:hover .bi-arrow-right {
            position: absolute;
            border-right: #000000 solid 1px;
            background-color: #000000;
            color: #fff;
            left: -22px;
            transition: all 0.5s ease;

        }
    }

    .bg-reotation {
        position: absolute;
        bottom: -300px;
        left: -500px;
        width: 160%;
        height: 90vh;
        background-color: #FDC742;
        transform: rotate(25deg);
        z-index: 0;

    }
}

.section-7 {
    height: 100vh;
    width: 100%;
    background-color: #DDF9FF;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    overflow: hidden;

    .sec-7-first-row-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 50%;

        .sec-7-elemnt-1 {
            width: 155px;
            position: absolute;
            left: 10%;
        }

        .heading-1 {
            color: #000;
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            text-align: center;

            h6 {
                font-style: italic;
            }
        }

        .sec-7-elemnt-2 {
            width: 652px;
            position: absolute;
            right: -250px;
        }


    }

    .sec-7-second-row-container {
        position: relative;
 

        h1 {
            color: #00ADE5;
            font-family: Montserrat;
            font-size: 80px;
            font-weight: 700;
            line-height: 122px;
            text-align: center;
            margin-top: 20px;
        }

        .sec-7-elemnt-3 {
            width: 70px;
            position: absolute;
            right: 10%;
        }

    }

    .sec-7-third-row-container {
        position: relative;
        margin-top: 50px;
        .sec-7-elemnt-4 {
            position: absolute;
            width: 650px;
            left: -250px;
        }

        .heading-2 {
            width: 50%;
            color: #000;
            font-family: 'Montserrat';
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            text-align: center;

            h6 {
                font-size: 12px;
                padding: 0px 70px;
            }
        }

        .sec-7-elemnt-5 {
            position: absolute;
            width: 250px;
            right: -150px;
            top: 100px;
        }
    }
    .sec-7-fourth-row-container{
        position: relative;
        height: 100%;
        .sec-7-elemnt-6{
            width: 250px;
            position: absolute;
            left: 20%;
            top: 150px;
        }
        .sec-7-elemnt-7{
            position: absolute;
            right: 10%;
            width: 150px;
            top: 70px;
        }
        .sec-7-button {
      
            height: 40px;
            width: 250px;
            border: 2px solid #000;
            color: rgb(0, 0, 0);
            font-family: 'Montserrat';
            font-size:  12px;
            line-height: 1.5;
      
            background-color: transparent;
            position: relative;
            z-index: 1;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .bi-arrow-right {
                font-size: 28px;
                border-left: #003566 solid 1px;
                margin-left: 20px;
                padding-left: 5px;
                height: 40px;
                line-height: 1.5;
            }
    
            &:hover {
                padding-left: 15px;
                transition: all 0.5s ease;
            }
    
            &:hover .bi-arrow-right {
                position: absolute;
                border-right: #000000 solid 1px;
                background-color: #000000;
                color: #fff;
                left: -22px;
                transition: all 0.5s ease;
    
            }
        }
    }
}