* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.blue {
  color: #003566;
}

#home {
  height: 120vh;
  width: 99.99%;
  opacity: 1;
  background: linear-gradient(278deg, blue -30%, cyan 90%);
}

#home nav {
  padding: 50px 140px 10px 140px;
}

#home nav .navbar-nav {
  margin-left: 30%;
}

#home nav .navbar-nav .nav-link {
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}

#home nav .navbar-nav .nav-link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

#home nav .nav-link {
  margin-right: 50px;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

#home nav .contact-link {
  margin-left: 100%;
}

#home .logo {
  width: 130px;
}

#home .unicorn-container {
  overflow: hidden !important;
}

#home .unicorn-container .banner-title {
  height: 100vh;
  position: relative;
  top: -50px;
}

#home .unicorn-container .banner-title h1 {
  width: 60%;
  text-align: center;
  font-size: 70px;
  color: #fff;
  font-style: italic;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

#home .unicorn-container .banner-title button {
  height: 50px;
  width: 9.74%;
  border-radius: 8px;
  background-color: #003566;
  color: #fff;
  border: none;
  margin-top: 20px;
  -webkit-transition: all 1.5ms;
  transition: all 1.5ms;
}

#home .unicorn-container .banner-title button:hover {
  background-color: #FDB913;
  color: #000;
}

#home .unicorn-container .unicorn {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translate(-350px, 10px);
          transform: translate(-350px, 10px);
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.opacityZero {
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.opacityOne {
  opacity: 1;
}

#section-2 {
  position: absolute;
  height: 150vh;
  width: 100%;
  background-color: #00dbf6;
}

#section-2 .element-container {
  position: relative !important;
  overflow: hidden;
}

#section-2 .element-container .sec-2-element-4 {
  position: absolute;
  width: 600px;
  top: -300px;
  right: -200px;
  z-index: -0;
}

#section-2 .section-2-row {
  margin-top: 310px;
  overflow: hidden;
}

#section-2 .section-2-row .container {
  position: relative !important;
}

#section-2 .section-2-row h1 {
  font-family: 'Montserrat';
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

#section-2 .section-2-row .sec-2-left-col {
  position: relative;
}

#section-2 .section-2-row .sec-2-element-1 {
  width: 250px;
  position: relative;
  left: 120px;
  z-index: 555;
}

#section-2 .section-2-row .sec-2-element-2 {
  position: absolute;
  width: 600px;
  top: -100px;
  left: -200px;
  z-index: -1;
}

#section-2 .element-3-small {
  width: 200px;
  position: absolute;
  left: 0px;
  bottom: 150px;
}

#section-2 .effictive-landing-page {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 29px;
}

#section-2 .combining {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 24px;
}

.view-project-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 196px;
  border: 2px solid #003566;
  color: #003566;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  background-color: #fff;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-project-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

.view-project-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.view-project-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #003566 solid 1px;
  background-color: #003566;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#projects {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

#projects .slider-container {
  position: relative;
  width: 700% !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#projects .slider-container .card {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

#projects .slider-container .card .card-image {
  width: 27em;
}

#projects .slider-container .card .card-text-col {
  width: 30%;
  padding-left: 50px;
  position: relative;
}

#projects .slider-container .card .card-text-col h1 {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 45px;
  font-weight: 700;
  line-height: 68px;
}

#projects .slider-container .card .card-text-col p {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
}

#projects .slider-container .card .card-text-col .view-project-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 196px;
  border: 2px solid #003566;
  color: #003566;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  background-color: #fff;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .slider-container .card .card-text-col .view-project-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

#projects .slider-container .card .card-text-col .view-project-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#projects .slider-container .card .card-text-col .view-project-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #003566 solid 1px;
  background-color: #003566;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#projects .slider-container .card .card-number {
  position: absolute;
  top: 200px;
  left: 5em;
  z-index: 5999;
  color: #003566;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 700;
  line-height: 110px;
}

#projects .slider-container .card.active {
  background-color: #000 !important;
}

#projects .scroll-bar-container {
  position: fixed;
  left: 45%;
  top: 80%;
  z-index: 999999999 !important;
  height: 20px;
  width: 500px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#projects .scroll-bar-container .scroll-dot {
  height: 2px;
  width: 20px;
  background-color: #dbdbdb;
  margin-right: 5px;
}

#projects .scroll-bar-container .first {
  background-color: #003566;
}

#section-4 {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background-color: #171717;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-4 .why-important {
  font-family: 'Montserrat';
}

#section-4 .why-important h3 {
  font-size: 35px;
  font-weight: 700;
}

#section-4 .why-important h1 {
  font-size: 42px;
  font-weight: 700;
}

#section-4 .bulding-blocks {
  margin-top: 10px;
  background-image: url(../Assests/sec-4-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 600px;
}

#section-4 .bulding-blocks p {
  font-size: 17px;
  font-family: "Montserrat";
  color: #fff;
  line-height: 0.5;
}

#section-4 .bulding-blocks h6 {
  font-size: 20px;
  font-family: "Montserrat";
  color: #fff;
  line-height: .5;
}

#section-4 .sec-4-scroll-bar-container {
  height: 20px;
  width: 500px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-4 .sec-4-scroll-bar-container .sec-4-scroll-dot {
  height: 2px;
  width: 20px;
  background-color: #1E1E1E;
  margin-right: 5px;
  margin-bottom: 50px;
}

.section-5 {
  width: 100%;
  height: 180vh;
  background-color: #FDB913;
  padding-top: 200px;
  overflow: hidden;
}

.section-5 .sec-5-colums {
  margin-top: 200px;
}

.section-5 .sec-5-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 196px;
  border: 2px solid #000;
  color: black;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  background-color: transparent;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.section-5 .sec-5-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

.section-5 .sec-5-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-5 .sec-5-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #000000 solid 1px;
  background-color: #000000;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-5 .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-5 .title-container h1 {
  color: #FDB913;
  font-family: Montserrat;
  font-size: 90px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 75%;
}

.section-5 .title-container p {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-top: 50px;
}

#section-6 {
  background-color: #FDB913;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-6 .sec-6-text {
  position: relative;
  z-index: 1;
  width: 65%;
}

#section-6 .sec-6-text h6 {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

#section-6 .sec-6-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 196px;
  border: 2px solid #000;
  color: black;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  background-color: transparent;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-6 .sec-6-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

#section-6 .sec-6-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section-6 .sec-6-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #000000 solid 1px;
  background-color: #000000;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section-6 .bg-reotation {
  position: absolute;
  bottom: -300px;
  left: -500px;
  width: 160%;
  height: 90vh;
  background-color: #FDC742;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: 0;
}

.section-7 {
  height: 100vh;
  width: 100%;
  background-color: #DDF9FF;
}
/*# sourceMappingURL=style.css.map */