* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.blue {
  color: #003566;
  width: 0%;
}

#home {
  height: 120vh;
  width: 99.99%;
  opacity: 1;
  background: linear-gradient(278deg, blue -30%, cyan 90%);
}

#home nav {
  padding: 40px 140px 10px 140px;
}

#home nav .navbar-nav {
  margin-left: 10%;
}

#home nav .navbar-nav .nav-link {
  position: relative;
  top: -16px;
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}

#home nav .navbar-nav .nav-link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

#home nav .nav-link {
  margin-right: 20px;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

#home nav .contact-link {
  left: 50px;
}

#home .logo {
  width: 130px;
}

#home .unicorn-container {
  overflow: hidden !important;
}

#home .unicorn-container .banner-title {
  height: 100vh;
  position: relative;
  top: -50px;
}

#home .unicorn-container .banner-title h1 {
  width: 60%;
  text-align: center;
  font-size: 70px;
  color: #fff;
  font-style: italic;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

#home .unicorn-container .banner-title button {
  height: 50px;
  width: 9.74%;
  border-radius: 8px;
  background-color: #003566;
  color: #fff;
  border: none;
  margin-top: 20px;
  -webkit-transition: all 1.5ms;
  transition: all 1.5ms;
}

#home .unicorn-container .banner-title button:hover {
  background-color: #FDB913;
  color: #000;
}

#home .unicorn-container .unicorn {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translate(-350px, 10px);
          transform: translate(-350px, 10px);
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.opacityZero {
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.opacityOne {
  opacity: 1;
}

.extinstion {
  height: 250vh;
  width: 100%;
  background-color: #00dbf6;
}

#section-2 {
  position: absolute;
  height: 150vh;
  width: 100%;
  background-color: #00dbf6;
}

#section-2 .element-container {
  position: relative !important;
  overflow: hidden;
}

#section-2 .element-container .sec-2-element-4 {
  position: absolute;
  width: 600px;
  top: -300px;
  right: -200px;
  z-index: -0;
}

#section-2 .section-2-row {
  margin-top: 310px;
  overflow: hidden;
}

#section-2 .section-2-row .container {
  position: relative !important;
}

#section-2 .section-2-row .sec-2-heading {
  position: relative;
}

#section-2 .section-2-row h1 {
  font-family: 'Montserrat';
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  position: relative;
}

#section-2 .section-2-row .slid-text-two {
  color: #003566;
}

#section-2 .section-2-row .cover {
  width: 400px;
  height: 150px;
  position: absolute;
}

#section-2 .section-2-row .sec-2-left-col {
  position: relative;
}

#section-2 .section-2-row .sec-2-element-1 {
  width: 250px;
  position: relative;
  left: 50px;
  z-index: 555;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

#section-2 .section-2-row .sec-2-element-2 {
  position: absolute;
  width: 600px;
  top: -100px;
  left: -200px;
  z-index: -1;
}

#section-2 .element-3-small {
  width: 200px;
  position: absolute;
  left: 0px;
  bottom: 100px;
}

@media screen and (max-width: 1400px) {
  #section-2 .element-3-small {
    bottom: 0px;
  }
}

#section-2 .effictive-landing-page {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 2;
}

#section-2 .combining {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 24px;
}

.view-project-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 196px;
  border: 2px solid #003566;
  color: #003566;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  background-color: #fff;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-project-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

.view-project-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.view-project-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #003566 solid 1px;
  background-color: #003566;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sec-3-to-4 {
  height: 200vh;
}

#projects {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#projects .slider-container {
  position: relative;
  width: 300% !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#projects .slider-container .card {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

#projects .slider-container .card .card-image {
  width: 37em;
}

#projects .slider-container .card .card-text-col {
  width: 30%;
  padding-left: 50px;
  position: relative;
}

#projects .slider-container .card .card-text-col h1 {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 45px;
  font-weight: 700;
  line-height: 68px;
}

#projects .slider-container .card .card-text-col p {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
}

#projects .slider-container .card .card-text-col .view-project-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 196px;
  border: 2px solid #003566;
  color: #003566;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  background-color: #fff;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .slider-container .card .card-text-col .view-project-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

#projects .slider-container .card .card-text-col .view-project-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#projects .slider-container .card .card-text-col .view-project-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #003566 solid 1px;
  background-color: #003566;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#projects .slider-container .card .card-number {
  position: absolute;
  top: 180px;
  left: 200px;
  z-index: 5999;
  color: #003566;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 700;
  line-height: 110px;
}

@media screen and (max-width: 1300px) {
  #projects .slider-container .card .card-number {
    top: 80px;
    left: 100px;
  }
}

#projects .slider-container .card.active {
  background-color: #000 !important;
}

#projects .scroll-bar-container {
  position: relative;
  left: 45%;
  bottom: 100px;
  z-index: 999999999 !important;
  height: 20px;
  width: 500px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#projects .scroll-bar-container .scroll-dot {
  height: 2px;
  width: 20px;
  background-color: #dbdbdb;
  margin-right: 5px;
}

#projects .scroll-bar-container .first {
  background-color: #003566;
}

.ext-3 {
  height: 250vh;
  width: 100%;
  background-color: #171717;
  margin-top: -22px;
  position: relative;
  z-index: 55;
}

#section-4 {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background-color: #171717;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-4 .main-container {
  position: relative;
}

#section-4 .background-icons {
  width: 310px;
  height: 500px;
  position: absolute;
  margin-top: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}

#section-4 .why-important {
  font-family: 'Montserrat';
}

#section-4 .why-important h3 {
  font-size: 35px;
  font-weight: 700;
}

#section-4 .why-important h1 {
  font-size: 42px;
  font-weight: 700;
}

#section-4 .bulding-blocks {
  margin-top: 10px;
  background-image: url(../Assests/sec-4-bg-blank.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
  opacity: 0;
  position: relative;
}

#section-4 .bulding-blocks div {
  position: absolute;
}

#section-4 .bulding-blocks p {
  font-size: 17px;
  font-family: "Montserrat";
  color: #fff;
  line-height: 0.5;
  background-color: transparent !important;
}

#section-4 .bulding-blocks h6 {
  font-size: 20px;
  font-family: "Montserrat";
  color: #fff;
  line-height: .5;
}

#section-4 .sec-4-scroll-bar-container {
  height: 60%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 19%;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-4 .sec-4-scroll-bar-container .sec-4-scroll-dot {
  height: 35px;
  width: 3px;
  background-color: #1E1E1E;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
  z-index: 5;
}

.section-5 {
  width: 100%;
  height: 100%;
  background-color: #FDB913;
  padding-top: 200px;
  overflow: hidden;
}

.section-5 .sec-5-colums {
  margin-top: 200px;
}

.section-5 .sec-5-colums .visually-captivating {
  position: relative;
  left: -200px;
}

.section-5 .sec-5-colums .visually-captivating h1 {
  color: #000;
  font-family: 'Montserrat';
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  margin-bottom: 20px;
}

.section-5 .sec-5-colums .visually-captivating p {
  color: #000;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.section-5 .sec-5-colums #conversion-as {
  margin-top: 30px;
  position: relative;
  left: 200px;
}

.section-5 .sec-5-colums #conversion-as h1 {
  color: #000;
  font-family: 'Montserrat';
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.section-5 .sec-5-colums #conversion-as p {
  color: #000;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.section-5 .sec-5-colums .concise {
  margin-top: 30px;
  position: relative;
  left: -200px;
}

.section-5 .sec-5-colums .concise h1 {
  color: #000;
  font-family: 'Montserrat';
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.section-5 .sec-5-colums .concise p {
  color: #000;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.yellow-extention {
  width: 100%;
  height: 50vh;
  background-color: #FDB913;
}

.sec-5-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 196px;
  border: 2px solid #000;
  color: black;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  background-color: transparent;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.sec-5-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

.sec-5-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sec-5-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #000000 solid 1px;
  background-color: #000000;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 570px;
}

.title-container h1 {
  color: #FDB913;
  font-family: Montserrat;
  font-size: 90px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 75%;
}

.title-container p {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-top: 50px;
}

#section-6 {
  background-color: #FDB913;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-6 .sec-6-text {
  position: relative;
  z-index: 1;
  width: 65%;
}

#section-6 .sec-6-text h6 {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

#section-6 .sec-6-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 196px;
  border: 2px solid #000;
  color: black;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  background-color: transparent;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-6 .sec-6-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

#section-6 .sec-6-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section-6 .sec-6-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #000000 solid 1px;
  background-color: #000000;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#section-6 .bg-reotation {
  position: absolute;
  bottom: -300px;
  left: -500px;
  width: 160%;
  height: 90vh;
  background-color: #FDC742;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: 0;
}

.section-7 {
  height: 100vh;
  width: 100%;
  background-color: #DDF9FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  overflow: hidden;
}

.section-7 .slid-2,
.section-7 .slid-3,
.section-7 .slid-4,
.section-7 .slid-5,
.section-7 .slid-6,
.section-7 .slid-7 {
  display: none;
}

.section-7 .heading-2 {
  width: 300px;
  height: 150px;
  position: relative;
  bottom: 50px;
}

.section-7 .sec-7-first-row-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.section-7 .sec-7-first-row-container .sec-7-elemnt-1 {
  width: 155px;
  position: absolute;
  left: 10%;
}

.section-7 .sec-7-first-row-container .heading-1 {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.section-7 .sec-7-first-row-container .heading-1 h6 {
  font-style: italic;
}

.section-7 .sec-7-first-row-container .sec-7-elemnt-2 {
  width: 652px;
  position: absolute;
  right: -250px;
}

.section-7 .sec-7-second-row-container {
  position: relative;
}

.section-7 .sec-7-second-row-container h1 {
  color: #00ADE5;
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 700;
  line-height: 122px;
  text-align: center;
  margin-top: 20px;
}

.section-7 .sec-7-second-row-container .sec-7-elemnt-3 {
  width: 70px;
  position: absolute;
  right: 10%;
}

.section-7 .sec-7-third-row-container {
  position: relative;
  margin-top: 50px;
}

.section-7 .sec-7-third-row-container .sec-7-elemnt-4 {
  position: absolute;
  width: 650px;
  left: -250px;
}

.section-7 .sec-7-third-row-container .heading-2 {
  width: 50%;
  color: #000;
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  display: none;
}

.section-7 .sec-7-third-row-container .heading-2 h6 {
  font-size: 18px;
  padding: 0px 70px;
}

.section-7 .sec-7-third-row-container .sec-7-heading-1 {
  display: block;
}

.section-7 .sec-7-third-row-container .sec-7-elemnt-5 {
  position: absolute;
  width: 250px;
  right: -150px;
  top: 100px;
}

.section-7 .sec-7-fourth-row-container {
  position: relative;
  height: 100%;
}

.section-7 .sec-7-fourth-row-container .sec-7-elemnt-6 {
  width: 250px;
  position: absolute;
  left: 20%;
  top: 110px;
}

.section-7 .sec-7-fourth-row-container .sec-7-elemnt-7 {
  position: absolute;
  right: 10%;
  width: 150px;
  top: 70px;
}

.section-7 .sec-7-fourth-row-container .sec-7-button {
  height: 40px;
  width: 250px;
  border: 2px solid #000;
  color: black;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 1.5;
  background-color: transparent;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-7 .sec-7-fourth-row-container .sec-7-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

.section-7 .sec-7-fourth-row-container .sec-7-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-7 .sec-7-fourth-row-container .sec-7-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #000000 solid 1px;
  background-color: #000000;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-8 {
  height: 100vh;
  width: 100%;
  background-color: #FFF;
  position: relative;
  overflow: hidden;
}

.section-8 .sec-8-col-1-text {
  color: #003566;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}

.section-8 .sec-8-col-2-text {
  padding-top: 50px;
  color: #003566;
  font-family: Montserrat;
  font-size: 17px;
  line-height: 30px;
  -webkit-transition: all ease-in-out 50ms;
  transition: all ease-in-out 50ms;
}

.section-9 {
  width: 100%;
  height: 100vh;
}

.section-9 .row > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.section-9 .sec-9-left-col {
  background-color: #EEE;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10% !important;
  position: relative;
}

.section-9 .sec-9-left-col .sec-9-col-1-text {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  width: 75%;
  position: relative;
}

@media screen and (max-width: 1452px) {
  .section-9 .sec-9-left-col .sec-9-col-1-text {
    font-size: 38px;
    line-height: 1;
  }
}

.section-9 .sec-9-left-col .cover {
  height: 60px;
  width: 100%;
  background-color: #EEE;
  position: absolute;
  -webkit-transition: -webkit-clip-path 1s ease-in-out;
  transition: -webkit-clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
  -webkit-clip-path: inset(1);
          clip-path: inset(1);
}

.section-9 .sec-9-left-col .sec-9-col-1-p {
  color: #003566;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  position: relative;
}

.section-9 .sec-9-left-col .sec-9-button {
  height: 40px;
  width: 220px;
  border: 2px solid #003566;
  color: #003566;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 1.5;
  background-color: transparent;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-9 .sec-9-left-col .sec-9-button .bi-arrow-right {
  font-size: 28px;
  border-left: #003566 solid 1px;
  margin-left: 20px;
  padding-left: 5px;
  height: 40px;
  line-height: 1.5;
}

.section-9 .sec-9-left-col .sec-9-button:hover {
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-9 .sec-9-left-col .sec-9-button:hover .bi-arrow-right {
  position: absolute;
  border-right: #000000 solid 1px;
  background-color: #000000;
  color: #fff;
  left: -22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-9 .sec-9-right-col {
  height: 100vh;
}

.section-9 .sec-9-right-col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-10 {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(139.8deg, #DCF8F0 0%, #AAEDEB 68.8%, #CFF1ED 100%);
}

.section-10 .sec-10-extntion {
  height: 50vh;
  width: 100%;
}

.section-10 .section-10-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  text-align: center;
  color: #003566;
}

.section-10 .section-10-container .sec-10-text {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}

.section-10 .section-10-container .sec-10-text-2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 1;
  width: 50%;
}

.section-10 .section-10-container .sec-10-titel {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 700;
  line-height: 73px;
  position: relative;
  z-index: 5;
}

.section-10 .section-10-container .comma-1 {
  color: #CFFFFB;
  font-size: 400px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  left: -150px;
  top: -100px;
  z-index: -2;
}

.section-10 .section-10-container .comma-2 {
  color: #CFFFFB;
  font-size: 400px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  right: -150px;
  top: -100px;
  z-index: -2;
}

.section-10 .section-10-container .joyce {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

footer {
  background-color: #000;
  width: 100%;
  height: 20vh;
  color: #8B8B8B;
  font-family: 'Montserrat';
  padding-top: 50px;
}

footer .footer-links a {
  padding-right: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */